//custom SCSS




html {
  .int-brand-image {
    content: var(--logoimage-url);
    max-height: 48px;
    display: var(--logoimage-visibility);
  }
  .int-lockup-group {
    display: var(--lockup-visibility);
    font-family: var(--font_header);
  }
  .int-user {
    transition: font-size 0.2s ease-in-out, line-height 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    .rbt-shell-sidebar {
      &.int-themeclose {
        i {
          &:before{
            content: '\e93f';
          }
        }
      }
      .int-themehandle {
        position: absolute;
        width: 42px;
        height: 42px;
        right: -40px;
        top: 10px;
        background: #f7f7f7;
        border-radius: 0.25rem;
        padding-top: 9px;
        padding-left: 9px;
        border: none;
        z-index: 10;
        i {
          font-size: 24px;
          color: $color-black--700;
        }

      }

    }

    header {
      //@extend .container;
      //@extend .d-flex;
      //@extend .flex-row;
      //@extend .pb-3;
      //@extend .px-0;
      //@extend .pt-5;


      .dropdown-item-text {
        padding: 0.375rem 1rem;
      }

      .int-lockup-group {

        @extend .pl-2;
        .int-lockup-org {
          @extend .ts-14;
          @extend .pt-1;
        }
        .int-lockup-pagetitle {
          @extend .ts-26;
          @extend .font-weight-bold;
          letter-spacing: .04rem;
        }

      }
      .rbt-header-avatar-id {
        color: var(--body-text-color);
        font-family: var(--font_body);
      }
    }
    main, .main {
      @extend .container;
      //@extend .mt-5;
      @extend .p-0;


      section {
        color: var(--body-text-color);
        font-family: var(--font_body);
        font-size: var(--base_bodyfont_size);
        .border, .border-bottom {
          border-color: var(--border-color) !important;
        }
        .card {
          font-size: var(--base_bodyfont_size);
          border-radius: var(--theme_border_radius);

          background-color: var(--panel-bg-color);
          h1,h2,h3 {
            font-family: var(--font_header);
			font-size: var(--base_headerfont_size);
          }

          .card-body {
            color: var(--panel-text-color);
            padding: 2rem 2.5rem 2.5rem;
            font-family: var(--font_body);
            a {
              color: var(--action-color);
              &:focus {
                outline: 0.125rem solid var(--action-color);
              }
            }
            .int-mask {
              font-size: 10px;
              letter-spacing: 1px;
            }
            .int-help {
              @extend .ts-14;
              text-align: center;
              @extend .mt-6;
              a {
                text-decoration: none;
              }
            }
            .list-group {
              .list-group-item {
                background-color: var(--panel-bg-color);
                color: var(--panel-text-color);
                border-color: var(--border-color);
                .btn-outline-primary {
                  border-radius: var(--theme_border_radius);
                  color: var(--action-color);
                  border-color: var(--action-color);
                  &:focus {
                    box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.2875rem var(--action-color) !important;
                  }
                }

              }
            }
          }
        }

        .int-verify-controls {
          color: var(--body-text-color);
          font-family: var(--font_body);
          font-size: var(--base_bodyfont_size);


          .rbt-button-group {

          }
        }

      }


    }
    .popover {
      top: -31px !important;
      left: 18px !important;
    }
  }


}


@include media-breakpoint-up(sm) {

  html {

    .int-brand-image {
      content: var(--logoimage-url);
      max-height: 58px;
      display: var(--logoimage-visibility);
    }

    .int-user {
      header.container {
        max-width: var(--theme_page_margin);

      }
      main, .main {
        max-width: var(--theme_page_margin);

      }
      //CAS styles are for prototyping only
      &.cas {
        header {
          max-width: 440px;

        }
        main {
          max-width: 440px;

        }
      }

    }
  }

}



html body .rbt-shell-main .rbt-shell .rbt-shell-stage .container {
  max-width: var(--theme_page_margin);
}




@include media-breakpoint-down(md) {
  header {
    .dropdown-toggle {
      &:after {

        //content: "\e943";

      }
    }
  }
}




//theme builder



.int-themeopen {
  margin-left: inherit
}
.int-themeclose {
  margin-left: -480px
}



button[data-theme] {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
  border: 1px solid $color-black--800;
  //border-radius: 50%;
  font-size: 0;
  background: transparent;
  outline: 0;
  cursor: pointer;
}


.int-accordion-controls {
  position: absolute;
  top: 0px;
  right: 0px;
  /* width: 36px; */
  height: 44px;
  padding: 8px;
  margin-right: 10px;
  .dropdown {
    .dropdown-toggle {
      &:after {
        content: "\e944";
      }
    }
  }
}



.colorpick {
  label {
    font-size: 1rem !important;
  }
}


.int-fontlinks {
  .list-group-item {
    .int-fontlink-checker {
      opacity: 0;
      transition: 0.3s;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.8);
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 9999;
      left: 0;
      display: flex;
    }
    &:hover {
      .int-fontlink-checker {

        opacity: 1;
      }
    }
  }
}