//custom SCSS





html {
  body {
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    transition: font-size 0.2s ease-in-out, line-height 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    header {
      .int-brand-image {
        max-height: 72px;
        display: var(--logoimage-visibility);
        content: var(--logoimage-url);
      }
      .dropdown-item-text {
        padding: 0.375rem 1rem;
      }

      .int-lockup-group {
        padding-left: 0.5rem;
        .int-lockup-org {
          font-size: var(--fontsize_orgname);
          padding-top: 0.25rem;
        }
        .int-lockup-pagetitle {
          font-size: var(--fontsize_appname);
          font-weight: 700;
          letter-spacing: .04rem;
        }
      }
      .rbt-header-avatar-id {
      }
      &.rbt-app-header {
        .int-brand-image {
          display: var(--logoimage-visibility);
          content: var(--logoimage-url);
        }
        &.rbt-app-header--light {
          background-color: var(--panel-bg-color);
          color: var(--panel-text-color);

          .int-lockup-group {
            display: var(--lockup-visibility);
            font-family: var(--font_header);
          }

          .rbt-brand-title-container {
            font-family: var(--font_header);
            .rbt-brand-title {
              color: var(--panel-text-color);
            }
          }
          .nav {
            .nav-item {
              a, button {
                color: var(--panel-text-color);
                &:focus {
                  box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.25rem var(--action-color);
                }
              }
              .dropdown-item {
                &:hover {
                  color: var(--panel-bg-color);
                }
              }
            }
          }
        }
      }
    }
    .dropdown-menu {
      border-radius: 4px;
    }
    .editor-toolbar {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
    .CodeMirror {
      border-bottom-left-radius:  $border-radius;
      border-bottom-right-radius:  $border-radius;
    }
    .ms-container .ms-list {
      border-radius: $border-radius;
    }

    .main-content{
      color: var(--body-text-color);
      font-size: var(--fontsize_body);
      .card {
        font-size: var(--fontsize_body);
       //border-radius: $border-radius !important;
        border-color: var(--border-color) !important;
        background-color: var(--panel-bg-color);
        &.int-data-api {
          .card-header {
            .int-accordion-controls {
              padding-top: 3px;
              padding-left: 8px;
              height: 33px;
            }
          }
        }
        .rbt-collapse-accordion {
          .card {
            h1,h2,h3,h4,h5,h6 {
              border-radius: 0.25rem;

              button {
                &:focus {
                  box-shadow: 0 0 0 0.125rem $white, 0 0 0 0.25rem var(--action-color);
                }
              }
            }
          }
        }
        .int-accordion-controls {
          position: absolute;
          top: 0px;
          right: 0px;
          height: 44px;
          padding: 8px;
          margin-right: 10px;
          color: $body-color;
          .dropdown {
            .dropdown-toggle {
              &:after {
                content: "\e944";
              }
            }
          }
          .dropdown {
            .dropdown-toggle {
              &:after {
                content: "\e944";
              }
            }
          }
        }
        h3 {
          color: $body-color;
        }
        .card-body {
          color: var(--panel-text-color);
          padding: 2rem 2.5rem 2.5rem;

          .form-control {
            color: var(--panel-text-color);
            border: 1px solid var(--panel-text-color);
            &:focus {
              color: var(--panel-text-color);
            }
            &.ng-invalid {
              border-color: $red;
            }
          }

          .int-section-overlay {
            background-color: rgba(255,255,255,0.9);
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
          }
          .int-mask {
            font-size: 10px;
          }
          .list-group {
            .list-group-item {
              background-color: var(--panel-bg-color);
              color: var(--panel-text-color);
              border-color: var(--border-color);
              .btn-outline-primary {
                //border-radius: var(--theme_border_radius);
                color: var(--action-color);
                border-color: var(--action-color);
                &:focus {
                  box-shadow: 0 0 0 0.125rem $white, 0 0 0 0.2875rem var(--action-color) !important;
                }
              }
            }
          }
          .editor-toolbar {
            button {
              i {
                color: var(--panel-text-color);
              }
            }
          }
          input[type="checkbox"] + label:before, input[type="checkbox"] + input + label:before {
            box-shadow: 0 0 0 0.08rem var(--panel-text-color);
          }

        }
        &.int-verifyinfo{
          border-radius: $border-radius !important;
        }
      }
      .border, .border-bottom {
        border-color: var(--border-color) !important;
      }

      .int-verify-controls {
        color: var(--body-text-color);
        #verifystatement, #deferstatement{
          font-size: var(--fontsize_verifyblock);
        }
      }
      .int-wizardmenu-mobile {
        background-color: var(--panel-bg-color);
      }
      .ms-selection,.ms-selectable {
        .ms-list {
          background: $white;
          border-color: $input-border-color;
        }
      }
      .table {
        color: var(--panel-text-color);
        background: var(--panel-bg-color);
        th {
          color: $color-black--900;
        }
        tr {
          border-bottom: 1px solid  var(--border-color);
        }
      }
      .rbt-datepicker__icon {
        z-index: 1;
      }

    }
    .outline-object {
      outline-style: dotted;
      outline-offset: 4px;
      outline-color: #000000;
    }
    .outline-object-sides {
      border-style: dotted;
      border-color: #000000;
      border-width: 4px;
      border-top: none;
      border-bottom: none;
    }
    a, button {
      color: var(--action-color);
      &:focus {
        outline: 0.125rem solid  var(--action-color);
      }
      &:hover {
        color: var(--action-color);
      }
    }
    .form-control {
      background-color: $white;
      background-repeat: no-repeat;
      &[disabled] {
        color:$color-black--600;
      }
      &:focus {
        //color: var(--body-text-color);
        background: $white;
        box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.25rem var(--action-color);
      }
    }
    .rbt-datepicker__input input[type="text"] {
      background-color: $white;
    }

    input[type="checkbox"] + label:before, input[type="checkbox"] + input + label:before {
      box-shadow: 0 0 0 0.08rem var(--body-text-color);
    }
    input[type=checkbox]:checked + label:before, input[type=checkbox]:checked + input + label:before {
      background-color: var(--action-color);
      box-shadow: 0 0 0 2px var(--action-color);
    }
    input[type=checkbox]:focus + label:before, input[type=checkbox]:focus + input + label:before {
      box-shadow: 0 0 0 0.08rem var(--action-color), 0 0 0 0.1875rem $white, 0 0 0 0.3125rem var(--action-color);
    }
    input[type=checkbox]:checked:focus + label:before, input[type=checkbox]:checked:focus + input + label:before {
      box-shadow: 0 0 0 0.08rem var(--action-color), 0 0 0 0.1875rem $white, 0 0 0 0.3125rem var(--action-color);
    }
    .int-fielddescription {
      margin-bottom: .5rem;
    }
    .editor-toolbar {
      margin-top: .5rem;
      button {
        i {
          color: var(--body-text-color);
        }
        &.active, &:hover {
          background: var(--panel-bg-color);
          border-color: var(--action-color);
          i {
            color: $body-color;
          }
        }
      }
    }
    .rbt-expressionbuilder {
      .rules-group-container {
        .group-conditions {
          .btn {
            color:  var(--action-color);
            &.active {
              background: var(--action-color);
            }
          }
        }
      }
    }
    ccf-image-upload {
      image-upload {
        .img-ul {
          .img-ul-file-upload {
            .img-ul-button {
              border-color: var(--action-color);
              color: var(--action-color);
            }
          }
        }
      }
    }
    .CodeMirror {
      background:$white;
    }
    .media-body {
      color: $body-color;
    }
    .rules-group-body {
      .form-control {
        color: var(--panel-text-color);
        border: 1px solid var(--panel-text-color);
      }
    }
    .rvb-steps {
      overflow-x: auto;
      .rvb-steps__item {
        margin-bottom: 5px;
        &.rvb-steps--vertical {
          .rvb-steps__item {
            margin-bottom: 0px;
          }
        }
        .rvb-steps__item-content {
          .rvb-steps__label {
            color: var(--body-text-color);
          }
          &:hover, &:focus, &[aria-current] {
            .rvb-steps__indicator {
              background-color: var(--action-color);
              color: $color-white;
              border-color: var(--action-color);
            }
          }
        }
      }
    }
    h1,h2,h3 {
      font-family: var(--font_header);
      font-size: var(--fontsize_header);
    }
    .rbt-shell-main {

      .rbt-shell {
        .rbt-shell-sidebar {
          //box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.07);
          flex-basis: 100%;
          width: 100%;
          position:relative;
          overflow: inherit;
          color: $color-black--900;
          background-color: var(--body-bg-color);
          .demo-theme-builder {
            .newsidebar-nav {
              .btn {
                background: $color-subtle-gray;
              }
            }
          }
          .int-themehandle {
            display: none;
            i {
              font-size: 24px;
              color: $color-black--700;
            }
          }
          .int-pallette-selectors {

            button {
              display: inline-block;
              width: 2rem;
              height: 2rem;
              margin-right: 0.25rem;
              border: 1px solid $color-black--800;
              font-size: 0;
              background: transparent;
              outline: 0;
              cursor: pointer;
            }
          }
        }
      }

    }
    .popover {
      &.bs-popover-top {
        top: -31px !important;
        left: 18px !important;
      }
    }
    .container {
      &.int-theme-margin {
        max-width: var(--theme_page_margin);
      }
    }
    .btn-primary {
      //border-radius: var(--theme_border_radius);
      background-color: var(--action-color);
      border-color: var(--action-color);
      &:focus {
        box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.2875rem var(--action-color) !important;
      }
      &:hover {
        background-color: var(--action-color);
        border-color: var(--action-color);
      }
    }
    .btn-outline-primary {
      //border-radius: var(--theme_border_radius);
      border-color: var(--action-color);
      color: var(--action-color);
      background-color: var(--panel-bg-color);
      &:focus {
        box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.2875rem var(--action-color) !important;
      }
    }
    .btn-link {
      color: var(--action-color);
    }
    .btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
      border-color: var(--action-color);
      color: $white;
    }
    .list-group-item:last-child {
      //border-bottom-right-radius: var(--theme_border_radius);
      //border-bottom-left-radius: var(--theme_border_radius);
    }
    .list-group-item:first-child {
      //border-top-left-radius: var(--theme_border_radius);
      //border-top-right-radius: var(--theme_border_radius);
    }
    .dropdown-item:hover {
      background-color: var(--action-color);
    }
    .border-right {
      border-right: 1px solid var(--border-color) !important;
    }
    .int-panel {
      background: var(--panel-bg-color);
      color: var(--panel-text-color);
      border-radius: var(--theme_border_radius);
    }
    hr {
      border-top: 1px solid  var(--border-color) !important;
    }
  }
  .pagination {
    .page-item {
      .page-link {
        color: var(--action-color);
      }
      &.active {
        .page-link {
          background-color: var(--action-color);
          border-color: var(--action-color);
          color: var(--body-bg-color);
        }
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  html {
    body {
      header {
        .int-brand-image {
          max-height: 48px;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  html {
    body {

      .rbt-shell-main {
        .rbt-shell {
          .rbt-shell-sidebar {
            box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.07);
            flex-basis: 30rem;
            width: 30rem;
            position:relative;
            overflow: inherit;
            transition: all 0.3s ease;
            background-color: $color-subtle-gray;

            &.int-themeclose {
              margin-left: -480px;
              i {
                &:before{
                  content: '\e93f';
                }
              }
            }
            .int-themehandle {
              display: block;
              position: absolute;
              width: 42px;
              height: 42px;
              right: -40px;
              top: 10px;
              background: #f7f7f7;
              border-radius: 0.25rem;
              padding-top: 9px;
              padding-left: 9px;
              border: none;
              z-index: 10;
              i {
                font-size: 24px;
                color: $color-black--700;
              }
            }

          }
          .rbt-shell-stage {
            .container {
              max-width: var(--theme_page_margin);
            }
          }
        }

      }
    }
  }

}