//custom SCSS




html {
  .int-user {
    background-color: var(--body-bg-color);
    transition: font-size 0.2s ease-in-out, line-height 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    header {
      @extend .container;
      @extend .d-flex;
      @extend .flex-row;
      @extend .pb-3;
      @extend .px-0;
      @extend .pt-5;
      .int-brand-image {
        content: var(--logo-image-url);
        max-height: 58px;
      }
      .int-lockup-group {
        @extend .pl-2;
        .int-lockup-org {
          @extend .ts-14;
          @extend .pt-1;
        }
        .int-lockup-pagetitle {
          @extend .ts-26;
          @extend .font-weight-bold;
          letter-spacing: .04rem;
        }

      }
    }
    main {
      @extend .container;
      //@extend .mt-5;
      @extend .p-0;



      section {
        .card {

          .card-body {
            padding: 2rem 2.5rem 2.5rem;
            .int-help {
              @extend .ts-14;
              text-align: center;
              @extend .mt-6;
              a {
                text-decoration: none;
              }
            }
          }
        }

      }
    }
  }
}


@include media-breakpoint-up(sm) {

  html {
    .int-user {
      header {
        max-width: 880px;

      }
      main {
        max-width: 880px;

      }
      //CAS styles are for prototyping only
      &.cas {
        header {
          max-width: 440px;

        }
        main {
          max-width: 440px;

        }
      }

    }
  }

}



//theme builder


button[data-theme] {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
  border: 1px solid $color-black--800;
  //border-radius: 50%;
  font-size: 0;
  background: transparent;
  outline: 0;
  cursor: pointer;
}




.demo-theme-builder input[type="color"] {
  -webkit-appearance: none;
  border: 1px solid $color-black--800;
  width: 1.5rem;
  height: 1.5rem;
  outline: 0;
}
.demo-theme-builder input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
.demo-theme-builder input[type="color"]::-webkit-color-swatch {
  border: none;
}

#body-bg-color {
  background-color: var(--body-bg-color);
}

#body-font-color {
  background-color: var(--body-font-color);
}

#headerfooter-bg-color {
  background-color: var(--headerfooter-bg-color);
}

#headerfooter-text-color {
  background-color: var(--headerfooter-text-color);
}

#footer-link-color {
  background-color: var(--footer-link-color);
}

.row {
  &.color-picker {
    @extend .mb-3;
    @extend .align-items-center;
  }
}