//custom SCSS




html {
  body {

    header {
      .int-brand-image {
        content: var(--logo-image-url);
        max-height: 72px;
      }
    }
    .main-content{

      h1 {
        //@extend .mb-5
      }
      .int-tabs {
        .nav-item {
          margin-right: 0px;
          .nav-link {
            z-index: 100;
            background: none;
            border: none;
            color: $body-color;
            border-bottom: solid 4px transparent;
            border-radius: 0px;
            padding: 1rem 1.25rem;

            &:hover {
              //border-bottom: solid 4px $color-black--200;
            }

            &.active {
              //border-bottom: solid 4px $blue;
            }
          }
        }
      }
      .int-tabs + .tab-content {
        border: none;
        border-top: solid 1px $color-black--200;
        //margin-top: -1px;
        //padding: 1.5rem;
        padding: 0px;
        transition: box-shadow .2s ease;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }



}


@include media-breakpoint-up(sm) {

  html {

  }

}

.rbt-collapse-accordion {
  .int-accordion-controls {
    position: absolute;
    top: 0px;
    right: 0px;
    /* width: 36px; */
    height: 44px;
    padding: 8px;
    margin-right: 10px;
    .dropdown {
      .dropdown-toggle {
        &:after {
          content: "\e944";
        }
      }
    }
  }


}



.int-data-api {
  .card-header {
    .int-accordion-controls {
      padding-top: 3px;
      padding-left: 8px;
      height: 33px;
    }
}
}

.rvb-steps__item {

  margin-bottom: 5px;
}

.rvb-steps--vertical {
  .rvb-steps__item {

    margin-bottom: 0px;
  }

}







//Fontawesome mappings

.fa.fa-eye {
  &:before {
    content: $rbt-icon-eye;
  }
}
.fa.fa-bold {
  &:before {
    content: $rbt-icon-bold;
  }
}
.fa.fa-italic {
  &:before {
    content: $rbt-icon-italic;
  }
}
.fa.fa-header {
  &:before {
    content: $rbt-icon-header;
  }
}
.fa.fa-quote-left {
  &:before {
    content: $rbt-icon-quote;
  }
}
.fa.fa-list-ul {
  &:before {
    content: $rbt-icon-list;
  }
}
.fa.fa-list-ol {
  &:before {
    content: $rbt-icon-list-ordered;
  }
}
.fa.fa-link {
  &:before {
    content: $rbt-icon-link;
  }
}
.fa.fa-picture-o {
  &:before {
    content: $rbt-icon-image;
  }
}
.fa.fa-columns {
  &:before {
    content: $rbt-icon-sidebyside;
  }
}
.fa.fa-arrows-alt {
  &:before {
    content: $rbt-icon-expand;
  }
}
.fa.fa-question-circle {
  &:before {
    content: $rbt-icon-question-mark;
  }
}

